/* styly for border-animation */
.border-animation{
    position: absolute;
    transition: all .1s;
    background-color: white;
}

.border-l{
    bottom: 0px;
    left: 0px;
    width: 2px;
    height: 0px;

}
.border-t{
    top: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
}
.border-r{
    top: 0px;
    right: 0px;
    width: 2px;
    height: 0px;
}

.border-b{
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 2px;
}