@media (max-width: 1280px) {
    .wrapper-red-rgba a{
        font-size: 72px;
    }
    .carousel-caption h2{
        margin-bottom: 80px;
    }
}


@media (max-width: 992px){
    .wrapper-red-rgba a{
        font-size: 62px;
    }
    .wrapper-red-rgba{
        display: block;
        background: rgba(255, 0, 0, 0.1);
    }
    #carouselExampleControls{
        margin-top: 40px;
    }
    .carousel-caption h2{
        margin-bottom: 50px;
    }
    .wrapper-price h2{
        margin: 10px;
        font-size: 30px;
    }
    .wrapper-price th{
        padding: 5px;
    }
    .wrapper-price td{
        padding: 5px;
    }
    .wrapper-contact{
        height: auto;
    }
    .form-group{
        margin: 10px;
    }
}


@media (max-width: 768px) {
    .wrapper-red-rgba a{
        font-size: 52px;
    }
    h1{
        transition: none;
    }
    h1 span{
        transition: none;
    }
    nav{
        transition: none;
    }
    .carousel-caption h2{
        margin-bottom: 30px;
    }
    #carouselExampleControls{
        margin-top: 0px;
    }
    .wrapper-bg-fixed{
        background: url('../static/img/plumbing-840835_640.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-group{
        margin: 5px;
    }
    .wrapper-contact-rubric{
        margin-bottom: 10px;
    }
    .wrapper-call-me{
        margin: 10px 0;
        padding: 3px;
    }
    .wrapper-call-me span{
        font-size: 22px;
    }
    .wrapper-call-me img{
       width: 64px;
       height: auto; 
    }
    .wrapper-block-rubric{
        margin-bottom: 20px;
    }
}


@media (max-width: 576px) {
    .wrapper-red-rgba a{
        font-size: 42px;
    }
    h1{
        font-size: 30px;
        margin-left: 0%;
        transition: none;
    }
    h1 span{
        font-size: 20px;
        top:24px;
        left:120px;
        transition: none;
    }
    .nav-class{
        padding-left: 0px;
        padding-right: 0%;
    }
    .wrapper-price h2{
        margin: 3px;
        font-size: 20px;
    }
    .wrapper-price th{
        display: none;
    }
    .wrapper-price td{
        padding: 2px;
        font-size: 12px;
    }
    .form-group{
        margin: 2px;
    }
    .col-form-label{
        padding: 0%;
    }
    .col-sm-10{
        padding: 0%;
    }
    .h3-contact{
        margin: 10px 0;
        font-size: 20px;
    }
    .contact-header{
        font-size: 16px;
    }
    .wrapper-contact{
        padding: 5px;
    }
    .wrapper-call-me{
        margin: 10px 0;
        padding: 3px 0;
        box-shadow: 0 0 20px 5px rgb(0, 38, 255);
        background: rgba(255, 0, 0, 0.829);
        transition: none;
    }
    .wrapper-call-me span{
        font-size: 16px;
        margin-right: 0px;
    }
    .wrapper-call-me img{
       width: 40px;
       height: auto; 
    }
}
