@media (max-width: 1280px) {
    .section-description{
        padding: 25px 20px;
    }
    .article-description{
        font-size: 26px;
        line-height: 34px;
        min-height: 300px;
    }
    .section-description-img{
        width: 370px;
    }
    
}


@media (max-width: 992px){
    .section-description{
        padding: 20px 15px;
    }
    
    .article-description{
        font-size: 24px;
        line-height: 26px;
        min-height: 280px;
    }
    .section-description-img{
        width: 320px;
    }
}


@media (max-width: 768px) {
    .section-description{
        padding: 10px 5px;
    }
    .article-description{
        font-size: 22px;
        line-height: 24px;
        min-height: 260px;
        padding: 10px;
    }
    .section-description-img{
        width: 280px;
        margin-bottom: 10px;
    }
    .article-description_border-revers{
        margin-top: 25px;
    }
}


@media (max-width: 576px) {
    .section-description{
        padding: 5px 3px;
    }
    .article-description{
        font-size: 18px;
        line-height: 20px;
        min-height: 240px;
        padding: 6px;
    }
    .section-description-img{
        width: 240px;
    }
    .article-description_border-revers{
        margin-top: 15px;
    }
}
@media (max-width: 440px) {
    .section-description{
        padding: 5px 3px;
    }
    .article-description{
        line-height: 16px;
        min-height: 240px;
        padding: 5px;
    }
    .section-description-img{
        width: 240px;
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 10px;
    }
}
