@media (max-width: 1280px) {
    .carousel-caption h2{
        margin-bottom: 80px;
    }
    .inner-button{
        display: none;
    }
    .wrapper-price table{
        margin-bottom: 60px;
    }
    .wrapper-block-rubric>div{
        height: auto;
    }
    .wrapper-block-rubric img{
        width: 100%;
        position: relative;
        left: 0%;
        top: 0%;
    }
    .button-on-scroll{
        background: rgba(39, 82, 131, 0.63);
    }
}


@media (max-width: 992px){
    #carouselExampleControls{
        margin-top: 20px;
        transition: all 1s;
    }
    .carousel-caption h2{
        margin-bottom: 40px;
    }
    .wrapper-price h2{
        margin: 10px;
        font-size: 30px;
    }

    .wrapper-price th{
        padding: 5px;
    }
    .wrapper-price td{
        padding: 5px;
    }
    .wrapper-price table{
        margin-bottom: 55px;
    }

    .wrapper-contact{
        height: auto;
    }
    .form-group{
        margin: 10px;
    }
    /* message */
    .div-input-message{
        margin: 7px 0;
    }
    .header-message{
        height: 60px;
        font-size: 24px;
    }
    #divformMessage{
        border-radius: 60px 3px 60px 3px;
    }
    .div-input-message label{
        width: 20%;
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .carousel-caption h2{
        margin-bottom: 30px;
    }
    .form-group{
        margin: 5px;
    }
    .wrapper-contact-rubric{
        margin-bottom: 10px;
    }

    /* message */
    .div-input-message{
        margin: 5px 0;
    }
    .header-message{
        height: 60px;
        font-size: 24px;
    }
    #divformMessage{
        border-radius: 60px 3px 60px 3px;
    }
    .div-input-message label{
        width: 20%;
        font-size: 14px;
    }
}


@media (max-width: 576px) {
    h1{
        font-size: 30px;
        margin-left: 0%;
        transition: none;
    }
    h1 span{
        font-size: 20px;
        top:24px;
        left:120px;
        transition: none;
        letter-spacing: 4px;
    }
    .nav-class{
        padding-left: 0px;
        padding-right: 0%;
    }
    nav{
        transition: none;
    }
    .navbar-toggler{
        padding-left: 6px;
        padding-right: 6px;
    }
    .wrapper-bg-fixed{
        padding-top: 0px;
    }
    #navbar{
        position: relative;
        padding-left: 0%;
        padding-right: 0%;
    }
    #carouselExampleControls{
        margin-top: 0px;
        border: none;
        transition: none;
    }
    .wrapper-price h2{
        margin: 3px;
        font-size: 20px;
        color: rgb(10, 32, 44);
    }
    .wrapper-price th{
        display: none;
    }
    .wrapper-price td{
        padding: 2px;
        font-size: 12px;
    }
    .wrapper-price table{
        margin-bottom: 20px;
    }

    .form-group{
        margin: 2px;
    }
    .col-form-label{
        padding: 0%;
    }
    .col-sm-10{
        padding: 0%;
    }
    .h3-contact{
        margin: 10px 0;
        font-size: 20px;
    }
    .contact-header{
        font-size: 16px;
    }
    .wrapper-contact{
        padding: 5px;
    }


    /* message */
    .div-input-message{
        margin: 5px 0;
    }
    .header-message{
        height: 60px;
        font-size: 22px;
    }
    #divformMessage{
        border-radius: 60px 3px 60px 3px;
    }
    .div-input-message label{
        width: 20%;
        font-size: 12px;
    }
}
