{% extends "layout.html" %}

{%block meta%}
  Контактная информация о сантехработах в Харькове . Телефон, email, адрес. Задать вопрос о сантехнике.
{%endblock%}

{%block main%}

  <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><h1>Сантехработы<span>х а р ь к о в</span></h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/price">Цены</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contact">Контакты<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  
  <main class="container">
    <div class="row wrapper-contact-rubric">
      <div class="col-lg-6">
        <h3 class="h3-contact">Ваш вопрос</h3>

          <form action="/contact" method="post" id="sendMessageForm" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="input" class="col-sm-2 col-form-label">Имя<span class="star">*</span></label>
                <div class="col-sm-10">
                    <input type="text" name="name" maxlength="30" class="form-control" required placeholder="Ваше имя">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="email" maxlength="30" class="form-control valid" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputtel" class="col-sm-2 col-form-label">Телефон<span class="star">*</span></label>
                <div class="col-sm-10">
                    <input type="tel" name="phone" class="form-control" placeholder="Контактный номер телефона" title="+38-0xx-xxx-xx-xx" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Textarea" class="col-sm-2 col-form-label">Описание<span class="star">*</span></label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="text" rows="10" maxlength="700" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="file" class="col-sm-2 col-form-label">Фото <span class="span-file">(max=4MB)</span></label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" multiple accept="image/*" id="file" name="file">
                </div>
            </div>
            <div class="right-button">
                <button type="submit" id="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
      </div>

      <div class="col-lg-6">
        <h3 class="h3-contact">Контакты</h3>
          <div class="wrapper-contact">
            <div class="wrapper-contact-rubric">
              <p class="contact-header">Наш адрес:</p>
              <p class="contact-info">г. Харьков</p>
            </div>
            <div class="wrapper-contact-rubric">
              <p class="contact-header">Телефон:</p>
              <p class="contact-info">066-933-01-58</p>
            </div>
            <div class="wrapper-contact-rubric">
              <p class="contact-header">Email:</p>
              <p class="contact-info">andrjuxa201185@gmail.com</p>
            </div>
            <div class="wrapper-contact-rubric">
              <p class="contact-header">Время работы:</p>
              <p class="contact-info">Понедельник - пятница: с 8:00 до 20:00</p>
              <p class="contact-info">Суббота, воскресенье: с 10:00 до 19:00</p>
            </div>
        </div>
      </div>
    </div>

  </main>

  <footer>
    <div class="container">
      <p>Сантехработы Харьков 2018</p>
    </div>
  </footer>

{%endblock%}