{% extends "layout.html" %}

{%block meta%}Замена стояков в Харькове,замена водопровода канализации,замена радиаторов отопления,подключение сантехприборов.Лучший сантехник в харькове.
{%endblock%}

{%block title%}Сантехнические работы харьков.Замена стояков и установка радиаторов отопления
{%endblock%}

{%block main%}
<header>
  <nav id="navbar" class="navbar navbar-default fixed-top navbar-dark bg-dark nav-class">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h1>Сантехработы <span>харьков </span><span class="visually-hidden">сантехнические работы замена стояков харьков</span></h1></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/price">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Контакты</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>

<main>
    <div id="carouselExampleControls" class="carousel slide" data-interval="3000" data-pause="false" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/img/basin15025441280.jpg" alt="водопровод">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">замена стояков воды</h2>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../static/img/drain24546081280cr.jpg" alt="канализация">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">замена стояка канализации</h2>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../static/img/plumber27883291280.jpg" alt="смеситель">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">установка сантехнических приборов</h2>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../static/img/radiator2505581280(1).jpg" alt="радиатор">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">замена радиаторов отопления</h2>
            <h2 class="visually-hidden">замена батарей</h2>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



 <section class="row wrapper-block-rubric">

    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/basin15025441280.jpg" alt="водопровод">
      <button class="button-on-scroll" onclick="window.location.href = '/price#plumbing'">
        <span>Водопровод</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>


    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/plumber27883291280.jpg" alt="cмеситель">
      <button class="button-on-scroll" onclick="window.location.href = '/price#fixing'">
        <span>Установка приборов</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>

    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/drain24546081280cr.jpg" alt="канализация">
      <button class="button-on-scroll" onclick="window.location.href = '/price#canalization'">
        <span>Канализация</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>

    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/radiator2505581280(1).jpg" alt="радиатор">
      <button class="button-on-scroll" onclick="window.location.href = '/price#radiator'">
        <span>Замена радиаторов</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>

  </section>

  <section class="section-description">

    <article class="article-description">
      <img class="section-description-img" src="../static/img/bathtub-2174699_640.jpg" alt="замена стояков">

       Слабое давление в смесителе, ржавая и грязная вода, медленный слив воды, внезапный прорыв водопроводных труб - частые ситуации,
       с которыми сталкиваются владельцы многоквартирных домов.
       Причиной тому является старение водопроводных коммуникаций, трещины в канализационных стояках, образования засоров в трубах.
       Для избегания и предотвращения данных неудобств замена стояков и разводка новых труб избавит вас от подобных проблем.
       Установка очистительных и водоизмерительных приборов, современной новой сантехники подарит вам ощущение чистоты и позволит вам экономить на коммунальных услугах.

    </article>

    <article class="article-description article-description_border-revers">
      <img class="section-description-img section-description-img_float-right" src="../static/img/pimgpsh_fullsize_distr_62.jpg" alt="замена батарей">
          Замена радиаторов отопления обеспечит благоприятный климат и комфорт в вашем доме в холодное время года.
          Немаловажным является профессиональный монтаж, в результате которого устанавливаются дополнительные краны для регулировки температуры
           в квартире, а также байпас (перемычка) для предотвращения нарушений в работе системы отопления.
            Опыт работы более десяти лет позволяет нам предоставить
          не только практическую, но и предварительную консультативную помощь в выборе качественных материалов, приборов, а также всю
           интересующую вас информацию.
    </article>

  </section>
<section class="section-chat">
    <div id="chat">
      <div id="center" title="задать вопрос"><img src="../static/img/icons8задатьвопрос48.png" alt=""><img src="../static/img/icons8задатьвопрос482.png" alt=""></div>
      <div id="wave"></div>
    </div>

    <div id="divformMessage">
      <div class="close-window-message"><img src="../static/img/icons8отмена40red.png" alt=""><img src="../static/img/icons8отмена40.png" alt=""></div>
      <div class="header-message">Задать вопрос</div>

        <form action="/contact" method="post" id="formMessage" enctype="multipart/form-data">

            <label for="Textarea">Ваш вопрос:<span class="star">*</span></label>
            <div class="form-div">
                <textarea name="text" id="textArea" rows="6" maxlength="700" placeholder="Задайте вопрос и мы ответим в ближайшее время"></textarea>
            </div>

          <div class="div-input-message">
            <label for="email">Email:<span class="star">*</span></label>
            <input type="email" name="email" placeholder="Email для ответа" required>
          </div>

          <div class="div-input-message">
            <label for="tel">Фото:</label>
            <input type="file" accept="image/*" name="file1">
          </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</section>
</main>
<footer>
  <section class="footer-contact">

    <section class="section-footer-half">
      <h4 class="footer-h4"></h4>
      <form action="/contact" method="POST" class="form-footer">
        <input type="text"  name="name" placeholder="Имя" class="footer-form-element" required>
        <input type="number" name="phone" placeholder="Телефон" class="footer-form-element" required>
        <input type="email" name="email" placeholder="Email" class="footer-form-element" required>
        <textarea name="text" cols="30" name="text" rows="5" placeholder="Ваш вопрос" class="footer-form-element" required></textarea>
        <button type="submit" class="footer-form-element">отправить</button>
      </form>
    </section>

    <section class="section-footer-half">
      <h4 class="footer-h4">контакты</h4>
      <div class="wrapper-contact-footer">
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Наш адрес:</p>
          <p class="contact-info-footer"> г. Харьков</p>
        </div>
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Телефон:</p>
          <p class="contact-info-footer"> 066-933-01-58</p>
        </div>
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Email:</p>
          <p class="contact-info-footer"> kh.santehnik@gmail.com</p>
        </div>
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Время работы (приема звонков):</p>
          <p class="contact-info-footer contact-info-footer_time">понедельник - пятница: с 8:00 до 20:00</p>
          <p class="contact-info-footer contact-info-footer_time">суббота, воскресенье: с 10:00 до 19:00</p>
        </div>
    </section>

  </section>

  <section class="sitemap">
    <ul class = 'sitemap-ul'>
      <div class="sitemap-ul-header">водопровод канализация</div>
      <li><a class="sitemap-ul-a" href="/price"><h4 class="sitemap-ul-a_h4">замена стояка холодной воды</h4></a></li>
      <li><a class="sitemap-ul-a" href="/price"><h4 class="sitemap-ul-a_h4">замена стояка горячей воды</h4></a></li>
      <li><a class="sitemap-ul-a" href="/price"><h4 class="sitemap-ul-a_h4">разводка водопроводных труб</h4></a></li>
      <li><a class="sitemap-ul-a" href="/price"><h4 class="sitemap-ul-a_h4">замена стояка канализации</h4></a></li>
      <li><a class="sitemap-ul-a" href="/price"><h4 class="sitemap-ul-a_h4">разводка канализационных труб</h4></a></li>
    </ul>

    <ul class="sitemap-ul">
        <div class="sitemap-ul-header"><h4 class="sitemap-ul-a_h4">установка сантехнических приборов</h4></div>
        <li><a class="sitemap-ul-a" href="/price">ванна</a></li>
        <li><a class="sitemap-ul-a" href="/price">бойлер</a></li>
        <li><a class="sitemap-ul-a" href="/price">стиральная машинка</a></li>
        <li><a class="sitemap-ul-a" href="/price">умывальник</a></li>
        <li><a class="sitemap-ul-a" href="/price">унитаз</a></li>
        <li><a class="sitemap-ul-a" href="/price">мойка</a></li>

      </ul>
    <ul class="sitemap-ul sitemap-ul_contact">
      <div class="sitemap-ul-header">контакты</div>
      <li><a class="sitemap-ul-a" href="/contact"><img class="footer-img-contact" src="../static/img/icons8-телефон-40.png" alt=""> 066-933-01-58</a></li>
      <li><a class="sitemap-ul-a" href="/contact"><img class="footer-img-contact" src="../static/img/icons8-сообщение-40.png" alt=""> kh.santehnik@gmail.com</a></li>
    </ul>
  </section>

  <section class="footer-down">
    <p class="container">© сантехнические работы харьков 2018</p>
  </section>

</footer>

{%endblock%}