{% extends "layout.html" %}

{%block meta%}Перечень предоставляемых услуг.Замена стояков, подключение сантехприборов, замена водопровода и канализации, монтаж радиаторов отопления
{%endblock%}

{%block title%}
  Сантехработы харьков.Замена стояков и монтаж водопровода,канализации
{%endblock%}

{%block main%}

    <nav id="navbar" class="navbar navbar-default fixed-top navbar-dark bg-dark nav-class">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><h1>Сантехработы<span>харьков</span></h1></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/price">Цены</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="carouselExampleControls" class="carousel slide" data-interval="4000" data-pause="false" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/img/basin15025441280.jpg" alt="водопровод">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">Водопровод</h2>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../static/img/drain24546081280cr.jpg" alt="канализация">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">Канализация</h2>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="../static/img/plumber27883291280.jpg" alt="смеситель">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">Установка приборов</h2>
          </div>
        </div>
        
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/img/radiator2505581280(1).jpg" alt="радиатор">
          <div class="carousel-caption d-none d-sm-block">
            <h2 class="visually-hidden">Замена радиаторов</h2>
          </div>
        </div>
      </div>
      
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



  <div class="row wrapper-block-rubric">

    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/basin15025441280.jpg" alt="водопровод">
      <button class="button-on-scroll" onclick="window.location.href = '/price#plumbing'">
        <span>Водопровод</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>


    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/plumber27883291280.jpg" alt="cмеситель">
      <button class="button-on-scroll" onclick="window.location.href = '/price#fixing'">
        <span>Установка приборов</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>

    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/drain24546081280cr.jpg" alt="канализация">
      <button class="button-on-scroll" onclick="window.location.href = '/price#canalization'">
        <span>Канализация</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>
    
    <div class="col-md-6">
      <img class="image-scroll" src="../static/img/radiator2505581280(1).jpg" alt="радиатор">
      <button class="button-on-scroll" onclick="window.location.href = '/price#radiator'">
        <span>Замена радиаторов</span>
        <div class="inner-button">
          <div></div>
        </div>
      </button>
    </div>
    
  </div>


  <section class="section-description-rubric">
    <div class="section-description-rubric-div">
      <img class="section-description-rubric-div-img" src="../static/img/bathtub-2174699_640.jpg" alt="">
    </div>
    <article class="article-description-rubric">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Deserunt eius, sint adipisci delectus dicta nostrum ipsam libero beatae aut natus soluta repellat distinctio ab.
        Consequatur, dicta. Odit quidem autem consequatur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quae id necessitatibus, ea sunt earum perspiciatis fugit deleniti
          fugiat voluptatem itaque?
        Iste, sint totam quibusdam reiciendis ullam libero nisi consectetur minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
          quaerat temporibus iste fuga vel aperiam excepturi similique 
          laborum tenetur quidem dolores officiis eum animi magnam, in labore. 
        Porro, voluptatum reprehenderit!
    </article>
  </section>


  <section class="section-description-rubric border-top_none">
    <article class="article-description-rubric article-description-rubric_revers" a>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Deserunt eius, sint adipisci delectus dicta nostrum ipsam libero beatae aut natus soluta repellat distinctio ab.
        Consequatur, dicta. Odit quidem autem consequatur!
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quae id necessitatibus, ea sunt earum perspiciatis fugit deleniti
          fugiat voluptatem itaque?
          Iste, sint totam quibusdam reiciendis ullam libero nisi consectetur minima.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
          quaerat temporibus iste fuga vel aperiam excepturi similique 
          laborum tenetur quidem dolores officiis eum animi magnam, in labore. 
          Porro, voluptatum reprehenderit!
    </article>
    <div class="section-description-rubric-div">
      <img class="section-description-rubric-div-img" src="../static/img/pimgpsh_fullsize_distr_62.jpg" alt="">
    </div>
  </section>


<div id="chat">
  <div id="center" title="задать вопрос"><img src="../static/img/icons8задатьвопрос48.png" alt=""><img src="../static/img/icons8задатьвопрос482.png" alt=""></div>
  <div id="wave"></div>
</div>

<div id="divformMessage">
  <div class="close-window-message"><img src="../static/img/icons8отмена40red.png" alt=""><img src="../static/img/icons8отмена40.png" alt=""></div>
  <div class="header-message">Задать вопрос</div>

    <form action="/contact" method="post" id="formMessage" enctype="multipart/form-data">

        <label for="Textarea">Ваш вопрос:<span class="star">*</span></label>
        <div class="form-div">
            <textarea name="text" id="textArea" rows="6" maxlength="700" placeholder="Задайте вопрос и мы ответим в ближайшее время"></textarea>
        </div>

      <div class="div-input-message">
        <label for="email">Email:<span class="star">*</span></label>
        <input type="email" name="email" placeholder="Email для ответа" required>
      </div>

      <div class="div-input-message">
        <label for="tel">Фото:</label>
        <input type="file" accept="image/*" name="file1">
      </div>

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>


<footer>
  <section class="footer-contact">

    <section class="section-footer-half">
      <h4 class="footer-h4"></h4>

      <form action="/contact" method="POST" class="form-footer">
        <input type="text" autocomplete="off" name="name" placeholder="Имя" class="footer-form-element">
        <input type="number" autocomplete="off" name="phone" placeholder="Телефон" class="footer-form-element">
        <input type="email" autocomplete="off" name="email" placeholder="Email" class="footer-form-element">
        <textarea name="textarea" autocomplete="off" cols="30" name="text" rows="5" placeholder="Ваш вопрос" class="footer-form-element"></textarea>
        <button type="submit" class="footer-form-element">отправить</button>
      </form>

    </section>

    <section class="section-footer-half">
      <h4 class="footer-h4">контакты</h4>

      <div class="wrapper-contact-footer">
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Наш адрес:</p>
          <p class="contact-info-footer"> г. Харьков</p>
        </div>
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Телефон:</p>
          <p class="contact-info-footer"> 066-933-01-58</p>
        </div>
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Email:</p>
          <p class="contact-info-footer"> andrjuxa201185@gmail.com</p>
        </div>
        <div class="wrapper-contact-rubric-footer">
          <p class="contact-header-footer">Время работы (приема звонков):</p>
          <p class="contact-info-footer contact-info-footer_time">понедельник - пятница: с 8:00 до 20:00</p>
          <p class="contact-info-footer contact-info-footer_time">суббота, воскресенье: с 10:00 до 19:00</p>
        </div>
    </section>

  </section>


  <section class="sitemap">
    <ul class = 'sitemap-ul'>
      <div class="sitemap-ul-header">водопровод канализация</div>
      <li><a class="sitemap-ul-a" href="/price">замена стояка холодной воды</a></li>
      <li><a class="sitemap-ul-a" href="/price">замена стояка горячей воды</a></li>
      <li><a class="sitemap-ul-a" href="/price">разводка водопроводных труб</a></li>
      <li><a class="sitemap-ul-a" href="/price">замена стояка канализации</a></li>
      <li><a class="sitemap-ul-a" href="/price">разводка канализационных труб</a></li>
    </ul>

    <ul class="sitemap-ul">
        <div class="sitemap-ul-header">установка сантехнических приборов</div>
        <li><a class="sitemap-ul-a" href="/price">ванна</a></li>
        <li><a class="sitemap-ul-a" href="/price">бойлер</a></li>
        <li><a class="sitemap-ul-a" href="/price">стиральная машинка</a></li>
        <li><a class="sitemap-ul-a" href="/price">умывальник</a></li>
        <li><a class="sitemap-ul-a" href="/price">унитаз</a></li>
        <li><a class="sitemap-ul-a" href="/price">мойка</a></li>

      </ul>
    <ul class="sitemap-ul sitemap-ul_non-list-style">
      <div class="sitemap-ul-header">контакты</div>
      <li><a class="sitemap-ul-a" href="/contact"><img class="footer-img-contact" src="../static/img/icons8-телефон-40.png" alt=""> 066-933-01-58</a></li>
      <li><a class="sitemap-ul-a" href="/contact"><img class="footer-img-contact" src="../static/img/icons8-сообщение-40.png" alt=""> andrjuxa201185@gmail.com</a></li>
    </ul>
  </section>

  <section class="footer-down">
    <p class="container">© сантехнические работы харьков 2018</p>
  </section>
  
</footer>


{%endblock%}