<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">

    <link rel="shortcut icon" href="../static/img/leaf3.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jQuery 3.3.1.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <script src="../static/js.js"></script>
    <title>сантехработы харьков</title>
</head>

<body>
{% block main %}
{% endblock %}

</body>
</html>