{% extends "layout.html" %}

{%block meta%}Узнать цены на замену водопровода и канализацию, установку счетчиков воды, замену стояков и монтаж радиаторов отопления.
{%endblock%}

{%block title%}
  Цена сантехработ в Харькове.Стоимость замены стояков и батарей в Харькове
{%endblock%}

{%block main%}

  <div class="wrapper-bg-fixed">
    <nav id="navbar" class="navbar navbar-default fixed-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><h1>Сантехработы<span>харьков</span></h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/price">Цены<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class='container wrapper-price'>
      <a name="plumbing"></a>
      <h2>Стоимость замены водопроводных труб</h2>
      <table class="table table-hover table-dark table-price">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><h3>Замена стояка холодной воды</h3></td>
            <td>600</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><h3>Замена стояка горячей воды(с полотенцесушителем)</h3></td>
            <td>700</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>+ Прохождение 1-го перекрытия(к соседям)</td>
            <td>150</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><h3>Разводка труб водопровода</h3>(точка х+г)</td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><h3>Установка счетчика воды</h3>(шт)</td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><h3>Установка редуктора давления</h3></td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><h3>Установка фильтра тонкой очистки</h3></td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Штроба под трубу d20-25 кирпич(м)</td>
            <td>30</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Штроба под трубу d20-25 бетон(м)</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>

      <a name="canalization"></a>
      <h2>Стоимость замены канализационных труб</h2>
      <table class="table table-hover table-dark table-price">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><h3>Замена стояка канализации</h3></td>
            <td>800</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>+ Прохождение 1-го перекрытия(к соседям)</td>
            <td>150</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><h3>Разводка труб канализации</h3>(точка)</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Штроба под трубу d32-50 кирпич(м)</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Штроба под трубу d100 кирпич(м)</td>
            <td>250</td>
          </tr>
        </tbody>
      </table>

      <a name="radiator"></a>
      <h2>Стоимость замены радиаторов отопления</h2>
      <table class="table table-hover table-dark table-price">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><h3>Замена радиатора без перемычки</h3>(1 радиатор)</td>
            <td>550</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><h3>Замена радиатора без перемычки</h3>(2-3 радиатора)</td>
            <td>450</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><h3>Замена радиатора без перемычки</h3>(4 и более)</td>
            <td>400</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><h3>+ Монтаж перемычки(шт)</h3></td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><h3>+ Замена стояка отопления(шт)</h3></td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Штроба под трубу отопления d20-25 бетон(м)</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>

      <a name="fixing"></a>
      <h2>Стоимость подключения сантехприборов</h2>
      <table class="table table-hover table-dark table-price">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><h3>Бойлер</h3>(50-80л)</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td><h3>Бойлер</h3>(100л)</td>
            <td>450</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><h3>Ванна акриловая</h3></td>
            <td>400</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><h3>Ванна стальная</h3></td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><h3>Душевая кабина</h3></td>
            <td>700</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><h3>Гидробокс</h3></td>
            <td>1000</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><h3>Умывальник (тюльпан)</h3></td>
            <td>300</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><h3>Умывальник тумба</h3>(без подрезки)</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td><h3>Мойка врезная</h3>(без подрезки)</td>
            <td>300</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td><h3>Стиральная машина</h3></td>
            <td>250</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td><h3>Посудомоечная машина</h3></td>
            <td>250</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td><h3>Унитаз</h3></td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td><h3>Монтаж инсталяции</h3>(рама)</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td><h3>Монтаж инсталяции</h3>(унитаз+кнопка)</td>
            <td>400</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td><h3>Полотенцесушитель</h3></td>
            <td>300</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>Отдельно смеситель</td>
            <td>150</td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td>Отдельно сифон</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="chat">
      <div id="center" title="задать вопрос"><img src="../static/img/icons8задатьвопрос48.png" alt=""><img src="../static/img/icons8задатьвопрос482.png" alt=""></div>
      <div id="wave"></div>
    </div>
    
    <div id="divformMessage">
      <div class="close-window-message"><img src="../static/img/icons8отмена40red.png" alt=""><img src="../static/img/icons8отмена40.png" alt=""></div>
      <div class="header-message">Задать вопрос</div>
    
        <form action="/contact" method="post" id="formMessage" enctype="multipart/form-data">
    
            <label for="Textarea">Ваш вопрос:<span class="star">*</span></label>
            <div class="form-div">
                <textarea name="text" id="textArea" rows="6" maxlength="700" placeholder="Задайте вопрос и мы ответим в ближайшее время"></textarea>
            </div>
    
          <div class="div-input-message">
            <label for="email">Email:<span class="star">*</span></label>
            <input type="email" name="email" placeholder="Email для ответа" required>
          </div>
    
          <div class="div-input-message">
            <label for="tel">Фото:</label>
            <input type="file" accept="image/*" name="file1">
          </div>
    
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>


    <footer>
      <section class="footer-contact">
    
        <section class="section-footer-half">
          <h4 class="footer-h4"></h4>
    
          <form action="/contact" method="POST" class="form-footer">
            <input type="text" name="name" placeholder="Имя" class="footer-form-element">
            <input type="number" name="phone" placeholder="Телефон" class="footer-form-element">
            <input type="email" name="email" placeholder="Email" class="footer-form-element">
            <textarea name="textarea" cols="30" name="text" rows="5" placeholder="Ваш вопрос" class="footer-form-element"></textarea>
            <button type="submit" class="footer-form-element">отправить</button>
          </form>
    
        </section>
    
        <section class="section-footer-half">
          <h4 class="footer-h4">контакты</h4>
    
          <div class="wrapper-contact-footer">
            <div class="wrapper-contact-rubric-footer">
              <p class="contact-header-footer">Наш адрес:</p>
              <p class="contact-info-footer"> г. Харьков</p>
            </div>
            <div class="wrapper-contact-rubric-footer">
              <p class="contact-header-footer">Телефон:</p>
              <p class="contact-info-footer"> 066-933-01-58</p>
            </div>
            <div class="wrapper-contact-rubric-footer">
              <p class="contact-header-footer">Email:</p>
              <p class="contact-info-footer"> andrjuxa201185@gmail.com</p>
            </div>
            <div class="wrapper-contact-rubric-footer">
              <p class="contact-header-footer">Время работы (приема звонков):</p>
              <p class="contact-info-footer contact-info-footer_time">понедельник - пятница: с 8:00 до 20:00</p>
              <p class="contact-info-footer contact-info-footer_time">суббота, воскресенье: с 10:00 до 19:00</p>
            </div>
        </section>
    
      </section>
    
    
      <section class="sitemap">
        <ul class = 'sitemap-ul'>
          <div class="sitemap-ul-header">водопровод канализация</div>
          <li><a class="sitemap-ul-a" href="/price">замена стояка холодной воды</a></li>
          <li><a class="sitemap-ul-a" href="/price">замена стояка горячей воды</a></li>
          <li><a class="sitemap-ul-a" href="/price">разводка водопроводных труб</a></li>
          <li><a class="sitemap-ul-a" href="/price">замена стояка канализации</a></li>
          <li><a class="sitemap-ul-a" href="/price">разводка канализационных труб</a></li>
        </ul>
    
        <ul class="sitemap-ul">
            <div class="sitemap-ul-header">установка сантехнических приборов</div>
            <li><a class="sitemap-ul-a" href="/price">ванна</a></li>
            <li><a class="sitemap-ul-a" href="/price">бойлер</a></li>
            <li><a class="sitemap-ul-a" href="/price">стиральная машинка</a></li>
            <li><a class="sitemap-ul-a" href="/price">умывальник</a></li>
            <li><a class="sitemap-ul-a" href="/price">унитаз</a></li>
            <li><a class="sitemap-ul-a" href="/price">мойка</a></li>
    
          </ul>
        <ul class="sitemap-ul sitemap-ul_contact">
          <div class="sitemap-ul-header">контакты</div>
          <li><a class="sitemap-ul-a" href="/contact"><img class="footer-img-contact" src="../static/img/icons8-телефон-40.png" alt=""> 066-933-01-58</a></li>
          <li><a class="sitemap-ul-a" href="/contact"><img class="footer-img-contact" src="../static/img/icons8-сообщение-40.png" alt=""> andrjuxa201185@gmail.com</a></li>
        </ul>
      </section>
    
      <section class="footer-down">
        <p class="container">© сантехнические работы харьков 2018</p>
      </section>
      
    </footer>
  </div>


{%endblock%}