<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <script src="../static/jQuery 3.3.1.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/media.css">
    <script src="../static/js.js"></script>
    <title>сантехработы</title>
</head>

<body>
    <nav class="navbar navbar-default navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>Сантехработы</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Цены</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
    
    <div class='container'>
      <!-- <div class="row">

        <div class="col-lg-3 col-md-6 wrapper-block-price">
          <h3>монтаж водопровода</h3>
          <div class="wrapper-img-price"><img src="../static/img/pipe-986318_1280.jpg" alt=""></div>
          <p>стоимость работ по замене водопровода</p>
        </div>
        
        <div class="col-lg-3 col-md-6 wrapper-block-price">
          <h3>подключение сантехники</h3>
          <div class="wrapper-img-price"><img src="../static/img/pipe-986318_1280.jpg" alt=""></div>
          <p>стоимость работ по замене канализации</p>
        </div>

        <div class="col-lg-3 col-md-6 wrapper-block-price">
          <h3>замена канализации</h3>
          <div class="wrapper-img-price"><img src="../static/img/pipe-986318_1280.jpg" alt=""></div>
          <p>стоимость работ по замене канализации</p>
        </div>

        <div class="col-lg-3 col-md-6 wrapper-block-price">
          <h3>установка радиаторов</h3>
          <div class="wrapper-img-price"><img src="../static/img/pipe-986318_1280.jpg" alt=""></div>
          <p>стоимость работ по замене канализации</p>
        </div>
        
      </div> -->
      <h2>Стоимость замены водопроводных труб</h2>
      <table class="table table-hover  table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Замена стояка холодной воды</td>
            <td>600</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Замена стояка горячей воды(с полотенцесушителем)</td>
            <td>700</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>+ Проход 1-го перекрытия(к соседям)</td>
            <td>150</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Разводка труб водопровода(точка х+г)</td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Установка счетчика воды(шт)</td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Установка редуктора давления</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Установка фильтра тонкой очистки</td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Штроба под трубу d20-25 кирпич(м)</td>
            <td>30</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Штроба под трубу d20-25 бетон(м)</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>

      <h2>Стоимость замены канализационных труб</h2>
      <table class="table table-hover  table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Замена стояка канализации</td>
            <td>800</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>+ Проход 1-го перекрытия(к соседям)</td>
            <td>250</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Разводка труб канализации(точка)</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Штроба под трубу d32-50 кирпич(м)</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Штроба под трубу d100 кирпич(м)</td>
            <td>250</td>
          </tr>
        </tbody>
      </table>

      <h2>Стоимость замены радиаторов отопления</h2>
      <table class="table table-hover  table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Замена радиатора без перемычки(1 радиатор)</td>
            <td>550</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Замена радиатора без перемычки(2-3 радиатора)</td>
            <td>450</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Замена радиатора без перемычки(4 и более)</td>
            <td>400</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>+ Монтаж перемычки(шт)</td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>+ Замена стояка отопления(шт)</td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Штроба под трубу отопления d20-25 бетон(м)</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>

      <h2>Стоимость подключения сантехприборов</h2>
      <table class="table table-hover  table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Услуга</th>
            <th scope="col">Стоимость(грн)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Бойлер (50-80л)</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Бойлер (100л)</td>
            <td>450</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Ванна акриловая</td>
            <td>400</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ванна стальная</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Душевая кабина</td>
            <td>700</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Гидробокс</td>
            <td>1000</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Умывальник (тюльпан)</td>
            <td>300</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Умывальник тумба (без подрезки)</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Мойка врезная (без подрезки)</td>
            <td>300</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Стиральная машина</td>
            <td>250</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Посудомоечная машина</td>
            <td>250</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Унитаз</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Монтаж инсталяции (рама)</td>
            <td>350</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Монтаж инсталяции (унитаз+кнопка)</td>
            <td>400</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Полотенцесушитель</td>
            <td>300</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Отдельно смеситель</td>
            <td>150</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Отдельно сифон</td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
      
    </div>




<footer><div class="container">
<p>Сантехработы Харьков 2018</p></div>
</footer>

</body>
</html>